<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ygaps.travelapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.tour.TourReviewActivity"></activity>
        <activity android:name=".view.stoppoint.StopPointEditActivity" />
        <activity android:name=".view.tour.TourFollowActivity" />
        <activity android:name=".view.createtour.ChangeTourInfo" />
        <activity android:name=".view.user.UpdatePassword" />
        <activity android:name=".view.user.forgetpassword.CheckOTPActivity" />
        <activity android:name=".view.user.EditInfomation" />
        <activity android:name=".view.user.forgetpassword.getOTPActivity" />
        <activity android:name=".view.stoppoint.StopPointInfo" />
        <activity
            android:name=".view.member.MemberListOfTour"
            android:label="Members" />
        <activity
            android:name=".TourInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".GetCoordinateActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateTourActivity"
            android:label="Tạo tour mới" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".NavigationBottomActivity"
            android:label="Trang chính" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBTPGt6wHibzdpuwi31X9qNwHosuyu0GEg" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.NotificationActionService" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="dulich-47e62" />
    </application>

</manifest>